body {
	background-color:rgba( 190, 9, 0, 0.9);
	color:white;
	font-weight: bold;

}

.topDisplay{
	height:100%;
	min-height:105vh;
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1)),
	url("Arifa.JPG");
	
	background-attachment: fixed;
	background-position:center;
	background-repeat:no-repeat;
	background-size: cover;
	
	}

.nav_top{
	visibility: hidden;
}
img{
	margin-top:10px;
	height:90px;
	width: 120px;
	

}

.menu{
	padding:20px 50px;
	
}
a{
	color:white;
	cursor:pointer;
}

.check{
	background-color:red;
}
ul{
	
	list-style: none;
	color:white;
	font-weight: bold;
	text-align: right;
}

.display{
	
	text-align: center;
	
	margin-top:40%;
	font-size:60px;
	font-family:Impact;
	
 	-webkit-text-fill-color: transparent;
 	background: -webkit-linear-gradient(transparent, transparent),
             url(http://cloud-3.steamusercontent.com/ugc/81469728911596489/F6610EC5FEDED82ECF056B7B796162F02C340445/) repeat;
 	background: -o-linear-gradient(transparent, transparent);
 	-webkit-background-clip: text;
	
}


.Display{
	height:100%;
	padding-top: 20px;
	padding-bottom:70px;
}

.vertical-center {
 
  vertical-align:middle;
}

.nav_background{
	 background:rgba(0, 0, 0, 0.7); 
	 color:black;
	-webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 14.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 14.1 */
            animation: fadein 4s;
}


@keyframes fadein {
    from { background:rgba(0, 0, 0, 0.1); }
    to   { background:rgba(0, 0, 0, 0.7); }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { background:rgba(0, 0, 0, 0.1); }
    to   { background:rgba(0, 0, 0, 0.7); }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { background:rgba(0, 0, 0, 0.1); }
    to   { background:rgba(0, 0, 0, 0.7); }
}

.vertical-center {
  height: 80%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 80vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

h1, p{
	text-align:center;
	padding:20px 0px;
	color:white;


}


.speakers{
	background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),url("speaker.jpg");
	background-attachment: fixed;
	background-position:center;
	background-repeat:no-repeat;
	background-size: cover;
	height:35em;
	color:white;
}


.agenda{
	background:linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("agenda.jpg");
	background-attachment: fixed;
	background-position:center;
	background-repeat:no-repeat;
	background-size: cover;
	height:40em;
	color:white;
}

.nav-link{
	font-size:30px;
	font-family:Sofia;
	margin:0px 10px;
}
.nav-link:hover{
	color:red;
}

.dropdown p {
	display:block;
	padding: 12px 16px;
}

.dropdown{
	display:none;
	position:relative;
	background-color: rgba(0, 0, 0, 0.6);
	margin-left:50px;
	font-weight:bold;
}
.dropbtn{
	margin-left:50px;
	background-color:Transparent;
	border: rgba( 255, 255, 255, 0.6);
	font-size: 30px;
	margin-bottom: 50%;
	font-weight: bold;
	color:rgba( 255, 255, 255, 0.6);
}
.show{
	display: block;
}

/* arrow */

.arrow {
  box-sizing: border-box;
  height: 5vw;
  width: 5vw;
  cursor:pointer;
  margin:0 auto;

  border-style: solid;
  border-color: white;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}

.arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}

.img-responsive:hover{
	background:black;
}
#speak{
	
	
}

#third{
	height:50%;
	
}

.social{
	margin-left:40%;
	

}

#social_media{
	margin:0px 1%;
	font-size:35px;
}

.fa {
  padding: 10px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 10px;
  border-radius: 70%;
  
}
.fa:hover{
	opacity:0.8;
	color:red;

}
button{
	font-family: Impact;
	cursor:pointer;
}

button:focus{
	outline:none;
}


button:active{
	outline:none;
}
#brochure{
	height:80%;
	width:80%;
	margin: 40% 20% 0% 20%;
}

.check{
	background-color:red;
}

#press{
	height:100%;
	width:50%;
	margin-left:20%;
}
#hack{
	margin-top:20%;
}