<!DOCTYPE html>
<html>
<head>

<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="stylesTest.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Impact' rel='stylesheet'>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="indexTest.js"></script>


</head>

<body >

	<div class="topDisplay" id="header">
		<nav class="navbar navbar-trans navbar-expand-md  fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a href="#header" class="navbar-left"><img src="logo.png"></a>
				</div>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			    <span class="navbar-toggler-icon"></span>
			  	</button>
			  	<div id="nav_top" class="container nav_top">
				  	<a id="social_media" href="https://www.facebook.com/Fintechstorm/" class="fa fa-facebook"></a>
						<a id="social_media" href="https://twitter.com/FintechStorm" class="fa fa-twitter"></a>
						<a id="social_media" href="#" class="fa fa-telegram"></a>
						<a id="social_media" href="https://www.reddit.com/r/fintech" class="fa fa-reddit"></a>
				 </div>
			  <!-- Navbar links -->
				  <div class="collapse navbar-collapse" id="collapsibleNavbar">
				    <ul class="navbar-nav ml-auto">
				      <li class="nav-item">
				        <a class="nav-link" href="#speakers">Events</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="#detail">Details</a>
				      </li>

				    </ul>
				  </div>
				</div>
		</nav>



		<div class="container vertical-center">
			<div class="row">
				<div class="col">
					<
					<a href="/DEXhackathon"><button id="brochure" class="container-fluid dropbtn">	Hackathon
					</button></a>
				</div>
				<div class="col">
					<div class="display">
						TokenStorm ICO Summit 2018
					</div>


				</div>
				<div class="col" >
						<!--<div id="third"></div> -->
							<div class="container ">
							<a href="Brochure-01.jpg" data-fancybox="gallery">
								<img id="brochure" src="Brochure-06.jpg">
								</a>
							</div>

							<a data-fancybox="gallery" href="Brochure-02.jpg"></a>
							<a data-fancybox="gallery" href="Brochure-03.jpg"></a>
							<a data-fancybox="gallery" href="Brochure-04.jpg"></a>
							<a data-fancybox="gallery" href="Brochure-05.jpg"></a>

							<a data-fancybox="gallery" href="Brochure-06.jpg"></a>
							<a data-fancybox="gallery" href="Brochure-07.jpg"></a>
							<a data-fancybox="gallery" href="Brochure-08.jpg"></a>
							<a data-fancybox="gallery" href="Brochure-09.jpg"></a>

							<a data-fancybox="gallery" href="Brochure-10.jpg"></a>
							<a data-fancybox="gallery" href="Brochure-11.jpg"></a>
							<a data-fancybox="gallery" href="Brochure-12.jpg"></a>
							<a data-fancybox="gallery" href="Brochure-13.jpg"></a>



							<!--<button onclick="drop()" class="dropbtn container-fluid">Events</button>
							<div id="dropdown" class="dropdown">
								<p>8 Jan  - Seoul</p>
								<p>10 Jan - South Korea </p>
								<p>12 Jan - Shanghai, China</p>
								<p>16 Jan - Mumbai, India </p>
								<p>22 Jan - Davos, Switzerland</p>
							</div> -->





				</div>

			</div>


		</div>
		<div class="social">
		<div class="social_media">
			<a id="social_media" href="https://www.facebook.com/Fintechstorm/" class="fa fa-facebook"></a>
			<a id="social_media" href="https://twitter.com/FintechStorm" class="fa fa-twitter"></a>
			<a id="social_media" href="#" class="fa fa-telegram"></a>
			<a id="social_media" href="https://www.reddit.com/r/fintech" class="fa fa-reddit"></a>
		</div>
		<!-- </div>
		<a href="#details" ><div class="arrow"></div></a>



	</div> -->


	<div id="details" class="Display">
		<div class="container details">
			<h1>About Token Storm  </h1>
			Token Storm is a part of Zero Field Labs Pvt Limited, which has hosted several international conferences of repute such as Blockchain India Summit Dec 2016, Ethereum India Summit May 2017 and Blockchain India Week May 2017, all of which featured Ethereum Founder Vitalik Buterin. See Press Release by Consensys and Ethereum Foundation.
		</div>

	</div>
	<div class="speakers" >
		<div class="container" id = "speakers">
		<h1>Event Timeline</h1>
		<p>Click to Book Your Place</p>
		<div class="row">
			<div class="col">
				<a href="https://www.eventbrite.com/e/shenzhen-blockchain-workshop-2-3-jan-2018-arifa-khan-eddy-travia-tickets-41619776873"><img src="block.jpg" id="press"></a>
			</div>
			<div class="col">

			</div>
			<div class="col">

			</div>
		</div>
		<!--<div id = "speak" class = "row">
			<div class="col-md-3 col-sm-6">
				<div class="">
					<a title="eddy" data-caption="Pioneer Investor in blockchain and fintech startups since 2013. Nominated among the top 3 'Most Influential Investors of the Year' in 2014 along with Marc Andreessen and Roger Ver. CEO of London-listed Coinsilium (COIN). Chief Startup Officer at Block Chain Space (startup accelerator in Barcelona). Advisor to blockchain and digital currency companies and regular speaker at Bitcoin & Blockchain events and conferences worldwide. " href="eddy.jpg" data-fancybox="speaker" class="fancybox"><img src="eddy.jpg" class="img-fluid"></a>
				</div>

			</div>
			<div class="col-md-3 col-sm-6">
				<div class="">
					<a title="arifa" data-caption="Arifa Khan is Founder of Capital Coin ICO powering an ambitious global stock exchange on blockchain — Decentralised Global Capital Markets Platform/ DGCAMP. She is Ethereum India Partner, a former investment banker with Credit Suisse and UBS, and adviser to Government of India on international bond financing and to Chief Minister of Andhra Pradesh on blockchain technology. By education, she is a mathematician and an engineer from IIT Madras, and an MBA from Wharton School of Business, University of Pennsylvania, USA." href="arifa.png" data-fancybox="speaker" class="fancybox"><img src="arifa.png" class="img-fluid"></a>
				</div>
			</div>
		</div> -->
		</div>
	</div>

	<div class="Display">
		<div class="container details">
			<h1>Partners</h1>
			<div class="container">
				<div class="row">
				<div class="col"><img src="himalaya.png"></div>
				<div class="col"><img src="dgcamp.jpg"></div>
				<div class="col"><img src="capitalcoin.jpg"></div>
				<div class="col"></div>
				</div>
			</div>
		</div>

	</div>

	<div id="detail" class="agenda">
		<div class="container">
		<h1>Press Release</h1>
			<div class="row">
				<div class="col">
					<a data-fancybox-type="iframe" href="pressrelease.pdf"><img src="pressrelease.png" id="press"></a>
				</div>
				<div class="col">
					<a data-fancybox-type="iframe" href="CCICO.pdf"><img src="CCICO.png" id="press"></a>
				</div>
				<div class="col">
					<a data-fancybox-type="iframe" href="UICO.pdf"><img src="UICO.png" id="press"></a>
				</div>

			</div>
		</div>
	</div>
</body>
</html>
